<footer style="font-size: 10px">
    <a href="https://github.com/credibledoc/credible-doc" style="color: white">CredibleDoc</a> open source software documentation management tools
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="${linkPrefix}js/accordion.js"></script>
    <script>$(".closable").fadeIn(0)</script>
    <script src="${linkPrefix}js/search.js"></script>
    <script src="${linkPrefix}js/hamburger.js"></script>  
</footer>
</body>