<!DOCTYPE html>

<html>

<head>
    <title>credible-doc</title>
</head>

<body>
<h1>Credible documentation</h1>
<p>Maintaining of a project documentation is a complex task. We want to reduce
    efforts to accomplish this task.</p>
<p>The page contains a documentation of the tools created to achieve this
    goal.</p>

<h2>Menu</h2>

<ul>
    <li>
        <a href="https://github.com/credibledoc/credible-doc/blob/master/credible-doc-generator/README.md">Tools and libraries for replacing placeholders with a generated content</a>
    </li>
    <li>
        <a href="https://github.com/credibledoc/credible-doc/blob/master/plantuml/README.md">Utilities for generation of plantUML diagrams</a>
    </li>
    <li>
        <a href="https://github.com/credibledoc/credible-doc/blob/master/log-combiner-parent/README.md">Tool that allows to combine (merge) log files with different format of lines timestamps to a single file with lines sorted by timestamps</a>
    </li>
    <li>
        <a href="https://github.com/credibledoc/credible-doc/blob/master/credible-doc-generator/README.md">Example of a documentation generator</a>
    </li>
</ul>

<h2>Other resources</h2>

<ul>
    <li>
        <a href="https://github.com/credibledoc/credible-doc/blob/master/iso-8583-packer/README.md">A simple utility for packing and unpacking ISO 8583 messages</a>
    </li>
</ul>
</body>

</html>